<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="question" [innerHTML]="question?.question"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="top-header">
                    <span><b><countdown #cd [config]="{ leftTime: leftTime }"></countdown></b></span>
                    <p style="text-align:right;">
                        <a *ngIf="nextId != -1" class="btn btn-info" (click)="updateAnswerSheet()">Next</a>
                        <a *ngIf="nextId == -1" class="btn btn-success" (click)="updateAnswerSheet()">Finish</a>
                    </p>
                </div>

                <div class="options">
                    <form method="post" [formGroup]="answerForm">

                        <div class="form-check" *ngFor="let option of options">
                            <input class="form-check-input" type="radio" formControlName="answer" [value]="option" id="{{option}}">
                            <label class="form-check-label" for="{{option}}">
                            {{ option }}
                          </label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>