/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
.content {
    background-color: aliceblue;
    min-height: 86vh;
}

.container-inner {
    padding: 30px 0;
}